css

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 10px;
}


h2 {
    padding-left: 140px;
} 

/* tr:nth-child(odd) {
    background-color: rgb(226, 224, 224);
}

th {
    background-color: rgb(226, 181, 181);
} */



img {
    width: 600px;
}

/* .bg {
    background-image: url('./Images/bg2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 20px;
    padding-left: 20px;
    opacity: 5;
} */

table{
    width: 100%;
    margin-bottom: 50px;
}

.bg{
    margin-left: 400px;
    margin-top: 100px;
    border:  1px solid black;
    border-radius: 21px;
}
